$main-color: #2088A7;
$main-color-light: #79C2EB;
$main-color-alt: #279FAF;
$main-color-dark: #007195;
$dark-color: #333;
$light-color: #f5f5f5;
$red-color: #F04628;
$info: #33b5e5;
$success: #00c851;
$warning: #ffbb33;
$danger: #ff4444;
$bgg: linear-gradient(to right, $main-color-alt, $main-color-dark);
$bggr: linear-gradient(to right, $main-color-light, $main-color-alt, $main-color-dark);
$bg-menu: rgba(0, 0, 0, 0.5);
$shadow: 0 1px 4px rgba(0, 0, 0, 0.20);
$shadow-plate: 0 1px 4px rgba(0, 0, 0, 0.16);
$shadow-plate: 3px 3px 6px rgb(0 0 0 / 10%);
$radius: 12px;
$radius-lg: 24px;
$transition: .3s ease-in-out;
$svg-offset-right: 8px;

@mixin anim {
  animation: anim 2s 1s forwards;
  opacity: 0;
  transform: scale(.5);
}
@mixin animUpToDown {
  animation: upToDown 2s 1s forwards;
  opacity: 0;
  transform: translateY(-50%);
}
@mixin animDownToUp {
  animation: downToUp 2s 1s forwards;
  opacity: 0;
  transform: translateY(50%);
}

@keyframes upToDown {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes upUpToDown {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downToUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}